<div class="">
<table class= "table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Invoice-Id</th>
            <th>Invoice-From</th>
            <th>Invoice-To</th>
            <th>Date</th>
            <th>Due-date</th>
            <th>Sub-Total</th>
            <th>Items-ID</th>
            <th>Items-Type</th>
            <th>Items-Quantity</th>
            <th>Items-Price</th>
            <th>Items-Amount</th>
            <th>Discounts</th>
            <th>Tax</th>
            <th>Shipping</th>
            <th>Total</th>
            <th>Edit/Delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.invoice_number}}</td>
            <td>{{this.invoice_from}}</td>
            <td>{{this.invoice_to}}</td>
            <td>{{this.date}}</td>
            <td>{{this.due_date}}</td>
            <td>{{this.sub_total}}</td>
            <td>{{this.items_id}}</td>
            <td>{{this.items_type}}</td>
            <td>{{this.items_quantity}}</td>
            <td>{{this.items_price}}</td>
            <td>{{this.items_amount}}</td>
            <td>{{this.discounts}}</td>
            <td>{{this.tax}}</td>
            <td>{{this.shipping}}</td>
            <td>{{this.total}}</td>
            <td>
                <a><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>